body{
  margin: 0%;
  padding: 0%;
}
.hero-section{
  background-color: #f5f5f5;
}
.hero-section img{
height: 100vh;

}
.hero-section h1{
  color: #6b1bff;
  font-size: 90px;
  font-weight:bolder;
}
/* .services{
  background-color: red;
  
} */


